@font-face {
  font-family: sofia;
  src: url('../font/DancingScript-VariableFont_wght.ttf');
}
*{
  padding:0;
  margin:0;
}
:root{
  --bg-color-1:#EBEAE6;
  --font-color-1:#D37419;
  --font-color-2:#F8D562;
  --color-secundaria:#6C2B0F;
  --color-terciaria:#445C35;
  scroll-behavior: smooth;
  
}
.dark-mode{
  --bg-color-1:#1A120C;
  --font-color-1:#EBEAE6;
}
.App-nav{
  top:0;
  width: 100%;
  height: 40px;
  padding-top: 6px;
  text-align: right;
  position:fixed;
  background-color:var(--font-color-2);
  box-shadow: 0px 0px 8px var(--color-terciaria);
}
.App-nav a{
  margin:6px;
  color:var(--color-terciaria);
  text-decoration: none;
  font-weight: bold;
  vertical-align: middle;
}
.App-nav a:hover{
  text-decoration:overline var(--color-terciaria) 3px;
}
.App{
  width:100%;
  height:100%;
  text-align:center;
  background-color: var(--bg-color-1);
  color:var(--font-color-1);
}
.App-header{
  background-color: var(--bg-color-1);
  color:var(--font-color-1);
}
.App-header img{
  z-index: 1;
  top:0;
  left:0;
  position:fixed;
  width: 300px;
  margin-top:-50px;
}
.App-main{
  padding-top: 60px;
}
.title{
  font-family: sofia;
  font-size: 50px;
}
.d-resumo{
  margin-top: auto;
  margin-bottom: auto;
}
.d-pic{
  float: right;
}
.d-pic img{
  border-radius: 50%;
  height:380px;
}
.div-impar{
  min-height: 500px;
  height:500px;
}

.div-par{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 500px;
  background-color: var(--font-color-1);
  color:var(--bg-color-1);
}

.div-par:target, .div-impar:target {
  padding-top:60px;
}
.App-footer{
  bottom:0;
  position:fixed;
  background-color: var(--color-secundaria);
  width: 100%;
}
.atribuicao{
  font-size: 10px;
  color:var(--font-color-2);
}
.a-topo{
  margin-right:10px;
  font-size: 30px;
  float: right;
  color:var(--bg-color-1);
  text-decoration: none;
}
.d-flex{
  display: flex;
  justify-content:center
}
@media only screen and (max-width:500px) {
  .App-header img{
    z-index: 1;
    top:20px;
    left:-25px;
    position:fixed;
    width: 200px;
    }
  .d-pic{
    width: 100%;
  }
  .d-resumo{
    width: 100%;
  }
    .d-pic img{
    width:100%;
    height:auto;
    margin-left: auto;
    margin-right: auto;
  }

}