*{
  padding:0;
  margin:0;
}
:root{
  --bg-color-1:#EBEAE6;
  --font-color-1:#D37419;
  --font-color-2:#F8D562;
  --color-secundaria:#6C2B0F;
  --color-terciaria:#445C35;
}
.dark-mode{
  --bg-color-1:#1A120C;
  --font-color-1:#EBEAE6;
}

.App{
  width:100vw;
  height:100vh;
  background-color: var(--bg-color-1);
  color:var(--font-color-1)
}
.App-header{
  background-color: var(--bg-color-1);
  color:var(--font-color-1)
}
.App-main{

}
.App-footer{

}